pytest-mock
crewai
crewai[tools]
langchain-openai
supabase
assemblyai
whisperx
fastapi>=0.100.0
uvicorn
tiktoken
python-jose[cryptography]
python-dotenv
python-multipart==0.0.5
PyJWT==2.8.0
docling
pytest>=8.3.3
r2r==0.1.31
requests